html {
    background-color: #1b1b1b;
}

body {
    margin: 0;
}

main {
    padding: 0 26px;
}

* {
    box-sizing: border-box;
}

#main_content {
    display: flex;
    margin-top: 66px;
}

#main_content__left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 40px;
}

#main_content__video {
    height: 100%;
    max-height: 450px;
    margin-bottom: 18px;
}

#main_content__video iframe {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

#chat__body {
    display: flex;
    flex-direction: column;
    width: 387px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

#chat__receive {
    height: 558px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: scroll;
}

#chat__input::-webkit-scrollbar, #chat__receive::-webkit-scrollbar {
    width: 14px;
    background-color: #fff;
}

#chat__input::-webkit-scrollbar-thumb, #chat__receive::-webkit-scrollbar-thumb {
    width: 14px;
    border-radius: 6px;
    background-color: #D19826;
}

#chat__input::-webkit-scrollbar-track, #chat__receive::-webkit-scrollbar-track {
    width: 14px;
}

#chat__input {
    outline: none;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: none;
}

#chat__input::placeholder {
    color: #a3c1c5;
}

#chat__input:focus {
    animation: shadow_bottom 0.1s linear forwards;
    border-bottom-color: #444;
}

@keyframes shadow_bottom {
    0% {
        box-shadow: 0 #444;
    }

    100% {
        box-shadow: 0px 2px 0 0px #444;
    }
}

@media screen and (max-width: 768px) {
    #chat__input {
        height: 60px;
    }
}

#chat__error {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
}

#reaction {
    margin-left: auto;
    position: relative;
}

#reaction__body {
    opacity: 0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#btn__reaction__container {
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    width: 250px;
    z-index: 2;
}

#btn__reaction__container .btn:first-of-type {
    margin-top: 0;
}

.btn__reaction__container--hidden {
    animation: reaction_container_hidden 0.1s linear forwards;
}

.btn__reaction__container--display {
    animation: reaction_container_display 0.1s linear forwards;
}

@keyframes reaction_container_hidden {
    0% {
        height: 220px;
    }

    100% {
        height: 0;
    }
}

@keyframes reaction_container_display {
    0% {
        height: 0;
    }

    100% {
        height: 220px;
    }
}

.errorMessage {
    cursor: default;
    color: #fff;
}

.chat__message {
    display: flex;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 8px;
}

.chat__message .text {
    margin-right: 20px;
}

.chat__timestamp {
    margin-left: auto;
}

.btn__container {
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin-top: 24px;
    border: 2px solid #2755bf;
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fff;
}

.btn[disabled] {
    cursor: default;
    border-color: #cdcdcd;
    background-color: #cdcdcd;
}

.btn:not([disabled]):hover {
    background-color: #d3e2ec;
}

.btn:not(.btn:last-of-type) {
    margin-right: 20px;
}

.btn__reaction {
    width: 50%;
    padding: 0;
    background-color: #fff;
}

.btn__reaction:not([disabled]):hover {
    background-color: #7ba23f;
}

.btn__reaction:not([disabled]):focus {
    box-shadow: none;
}

.btn__reaction, .reaction__item {
    border: none;
    background-size: cover;
    background-position: center;
}

.btn__reaction[name="type1"], .reaction__item[data-type="type1"] {
    border-top-left-radius: 6px;
    background-image: url(./img/reactions/sticker1.png);
}

.btn__reaction[name="type2"], .reaction__item[data-type="type2"] {
    border-top-right-radius: 6px;
    background-image: url(./img/reactions/sticker2.png);
}

.btn__reaction[name="type3"], .reaction__item[data-type="type3"] {
    border-bottom-left-radius: 6px;
    background-image: url(./img/reactions/sticker3.png);
}

.btn__reaction[name="type4"], .reaction__item[data-type="type4"] {
    border-bottom-right-radius: 6px;
    background-image: url(./img/reactions/sticker4.png);
}

.btn__toggle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    background-color: #485859;
    position: absolute;
}

.btn__toggle--close::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 4px;
    background-color: #fff;
}

.btn__toggle--open::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 4px;
    transform: rotate(-45deg);
    background-color: transparent;
}

.reaction__item {
    width: 120px;
    height: 110px;
    position: absolute;
    z-index: 1;
}

.shake {
    animation: shake 1s ease-in-out infinite, opacity 2s linear forwards;
}

@keyframes shake {
    0%, 100% {
        right: 25px;
    }

    50% {
        right: -25px;
    }
}

@keyframes opacity {
    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.annotation__container {
    padding: 0 10px;
}

.annotation {
    font-size: 14px;
}

.font--xl {
    font-size: 26px;
}