/*
~ 1081 = PC
1080 ~ 900 = tablet
*/

:root {
    --primary-yellow: #D19826;
    --primary-light-green: #7ba23f;
    --primary-deep-green: #516e41;
    --primary-dark-green: #485859;
    --dark: #1b1b1b;
    --gray: #dddddd;

    --max-width: 1440px;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url("font/NotoSansJP-Medium.otf") format("OpenType")
}

@font-face {
    font-family: 'TsunagiGothic';
    src: url("font/TsunagiGothic.ttf") format("TrueType");
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar, *::-webkit-scrollbar,
*::-webkit-scrollbar, *::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 8px;
    background-color: var(--primary-light-green);
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-track,
*::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
    width: 10px;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--primary-dark-green);
    background-image: repeating-linear-gradient(-45deg, var(--primary-deep-green), var(--primary-deep-green) 14px, rgba(255,255,255,0) 0, rgba(255,255,255,0) 26px);
}

html, body, p, h2 {
    margin: 0;
}

#loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    animation: loading 0.5s linear forwards;
    background-color: #222;
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    90% {
        z-index: 100;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#main_content {
    display: flex;
    height: 100%;
    padding-top: 24px;
}

@media screen and (max-width: 900px) {
    #main_content {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }
}

#main_content__left {
    flex-grow: 1;
    width: 560px;
    margin-left: 24px;
    margin-right: 24px;
}

@media screen and (max-width: 900px) {
    #main_content__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        margin-left: 0;
    }
}

#chat__body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 24px;
    margin-bottom: 10px;
    padding: 14px 10px;
    border-radius: 12px;
    box-shadow: 10px 10px 0px 0px var(--primary-yellow);
    background-color: #fff;
}

@media screen and (max-width: 900px) {
    #chat__body {
        width: 100%;
    }
}

#chat__receive {
    height: 100%;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}

.chat__message {
    display: flex;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 8px;
}

.chat__message .text {
    word-break: break-all;
    line-height: 1.2;
    margin-right: 20px;
}

.admin_message {
    position: relative;
}

.admin_message::after {
    content: '運営';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 34px;
    border-radius: 4px;
    background-color: var(--primary-dark-green);
    position: absolute;
}

.admin_message .text {
    padding-left: 44px;
}

.chat__timestamp {
    margin-left: auto;
}

#chat__input, #chat__input--admin {
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid var(--primary-light-green);
    border-radius: 0;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: none;
}

#chat__input::placeholder, #chat__input--admin::placeholder {
    color: var(--primary-light-green);
}

.header {
    margin-bottom: 20px;
}

.header__logoContainer {
    display: flex;
    color: #fff;
    align-items: center;
}

.header__live {
    text-align: center;
    flex-shrink: 0;
    color: #fff;
    border-radius: 15px;
    margin-right: 24px;
    padding: 4px 14px;
    background-color: var(--primary-yellow);
}

.header__live p {
    font-size: 28px;
}

.header__title {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
}

.header__title p {
    font-family: 'TsunagiGothic';
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    margin-left: calc(100%);
    transform: translateX(0%);
    opacity: 0;
    animation: marquee_animation 15s linear infinite;
    animation-delay: 0s;
}

@keyframes marquee_animation {
    /*
        safariの仕様で0%にするとアニメーションがちらつく
        10%にすることで要素の位置をリセットする際のちらつきをなくす
    */
    10% {
        margin-left: calc(100%);
        transform: translateX(0%);
        opacity: 1;
    }

    /*
        20%から60%の値を同じにすることで、
        テキストをいったん止めて読ませる効果を出している
    */
    20% {
        margin-left: 0;
        transform: translateX(0%);
        opacity: 1;
    }

    60% {
        margin-left: 0;
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        margin-left: 0;
        transform: translateX(calc(-100%));
        opacity: 1;
    }
}

#main_content__video {
    height: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--primary-yellow);
}

@media screen and (max-width: 900px) {
    #main_content__video {
        height: 60vw;
        max-height: 400px;
    }
}

#main_content__video iframe {
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    #main_content__video iframe {
        height: 60vw;
        max-height: 400px;
    }
}

#main_content__description {
    color: #fff;
    font-size: 18px;
    padding: 8px 14px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-yellow);
}

#main_content__info {
    display: flex;
    position: relative;
}

#main_content__about {
    color: #fff;
    width: 70%;
    padding-right: 40px;
}

#main_content__about h2 {
    font-size: 24px;
}

#main_content__about p {
    font-size: 14px;
}

#chat__error {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
}

#reaction {
    margin-left: auto;
    margin-right: 16px;
    position: relative;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1080px) {
    #reaction {
        right: 12px;
        position: fixed;
        bottom: 10px;
    }
}

#reaction__body {
    opacity: 0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1080px) {
    #reaction__body {
        height: 110px;
        width: 125px;
    }
}

#btn__reaction__container {
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    width: 240px;
    border-radius: 14px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 10px 10px 0px 0px var(--primary-yellow);
    z-index: 2;
}

@media screen and (max-width: 1080px) {
    #btn__reaction__container {
        height: 180px;
        width: 180px;
    }
}

#btn__reaction__container .btn:first-of-type {
    margin-top: 0;
}

.btn__reaction__container--hidden {
    animation: reaction_container_hidden 0.1s linear forwards;
}

.btn__reaction__container--display {
    animation: reaction_container_display 0.1s linear forwards;
}

@keyframes reaction_container_hidden {
    0% {
        height: 240px;
    }

    100% {
        height: 0;
    }
}

@keyframes reaction_container_display {
    0% {
        height: 0;
    }

    100% {
        height: 240px;
    }
}

@media screen and (max-width: 1080px) {
    @keyframes reaction_container_hidden {
        0% {
            height: 180px;
        }
    
        100% {
            height: 0;
        }
    }

    @keyframes reaction_container_display {
        0% {
            height: 0;
        }
    
        100% {
            height: 180px;
        }
    }
}

.flow_up_reaction {
    right: 25px;
    transition: opacity 1s;
    opacity: 1;
    animation: pop 0.3s 0.01s linear forwards, shake 1s 0s ease-in-out infinite;
}

@keyframes shake {
    0% {
        right: 25px;
    }

    50% {
        right: -25px;
    }
}

@keyframes opacity {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.3);
    }

    40% {
        transform: scale(1);
    }
}

.btn__container {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.btn {
    cursor: pointer;
    color: var(--primary-light-green);
    text-align: center;
    width: 100%;
    height: 40px;
    border: 2px solid var(--primary-light-green);
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fff;
}

.btn[disabled] {
    cursor: default;
    border-color: #cdcdcd;
    background-color: #cdcdcd;
}

.btn:not([disabled]):hover {
    color: #fff;
    background-color: var(--primary-light-green);
}

.btn:not(.btn:last-of-type) {
    margin-right: 20px;
}

.btn__reaction {
    width: 50%;
    height: 50%;
    padding: 0;
    background-color: #fff;
}

.btn__reaction:not([disabled]):hover {
    background-color: var(--primary-light-green);
}

.btn__reaction:not([disabled]):focus {
    box-shadow: none;
}

.btn__reaction[disabled] {
    opacity: 0.2;
}

.btn__reaction, .reaction__item {
    border: none;
    background-size: cover;
    background-position: center;
}

.btn__reaction[name="type1"], .reaction__item[data-type="type1"] {
    background-image: url(./img/reactions/sticker1.png);
}

.btn__reaction[name="type2"], .reaction__item[data-type="type2"] {
    background-image: url(./img/reactions/sticker2.png);
}

.btn__reaction[name="type3"], .reaction__item[data-type="type3"] {
    background-image: url(./img/reactions/sticker3.png);
}

.btn__reaction[name="type4"], .reaction__item[data-type="type4"] {
    background-image: url(./img/reactions/sticker4.png);
}

.reaction__item {
    width: 120px;
    height: 110px;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 1080px) {
    .reaction__item {
        width: 50px;
        height: 50px;
    }
}

.btn__toggle {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    top: -15px;
    right: -15px;
    background-color: var(--primary-light-green);
    position: absolute;
}

@media screen and (max-width: 1080px) {
    .btn__toggle {
        width: 40px;
        height: 40px;
        top: -10px;
    }
}

.btn__toggle[disabled] {
    opacity: 0.2;
}

.btn__toggle--close::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 4px;
    background-color: #fff;
}

.btn__toggle--open::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 4px;
    transform: rotate(-45deg);
    background-color: transparent;
}

.annotation__container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

@media screen and (max-width: 1080px) {
    .annotation__container {
        display: none;
    }
}

.annotation {
    font-size: 14px;
}

.emoji_container {
    margin-bottom: 12px;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--gray);
}

.emoji_container span {
    cursor: pointer;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.emoji_container span:hover {
    transform: scale(1.3);
}

#admin_panel {
    background-color: #fff;
}
